[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = hub:tpope/vim-pathogen
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = hub:scrooloose/nerdtree.git
