[alias]
	a = add
	ap = add --patch
	au = add -u
	b = branch
	ba = branch --all
	bd = branch --delete
	bm = branch --merged
	c = commit
	cm = commit -m
	d = diff
	da = apply
	dc = diff --cached
	dm = diff master
	dom = diff origin/master
	e = format-patch
	ea = am
	es = send-email
	f = fetch
	fo = fetch origin
	g = grep
	h = help
	i = !git
	k = checkout
	k- = checkout --
	kb = checkout -b
	km = checkout master
	l = log
	ll = log --all --decorate --graph --pretty=medium -p
	m = merge
	n = init
	o = clone
	p = push
	po = push origin
	pom = push origin master
	q = blame
	r = rebase
	ri = rebase -i
	rim = rebase -i master
	s = status -sb
	t = stash
	ta = stash apply
	tl = stash list
	u = submodule
	v = revert
	w = show
	x = reset
	y = cherry-pick
	z = remote

[format]
	pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset

[include]
	path = ~/.gitconfig.local

[url "git@github.com"]
	insteadOf = "hub"

